.myform {
    display: grid;
    align-content: center;
}
.formbox {
    width: 100%;
    display: grid;
    max-width: 100%;
    justify-items: center;
}

.form{
    width:70%;
}

.formbox h4{
    color:#00a4e5;
}
.submit {
    color: #fff;
    background-color: #00a4e5;
    border-color: #00a4e5;
    width: 100%;
    margin-top: 10%;
    transition: 1s all;
    position: relative;
    z-index: 1;
}

.submit:hover{
    color:#00a4e5;
    border: 1px solid #00a4e5;
    cursor: pointer;
    box-shadow: 1px 1px 8px -4px black;
}

.submit:before{
    transition: 0.5s all ease;
    position: absolute;
    top:0;
    left:50%;
    right: 50%;
    bottom:0;
    opacity: 0;
    content:"";
    background-color:#fff;
    color:#000;
}

.submit:hover:before{
    transition: 0.5s all ease;
    left:0;
    right:0;
    opacity: 1;
    z-index: -10;
}


.orsection{
    text-align: center;
    margin-top: 5%;
    color:grey;
}

.loginwithgoogle{
    width:100%;
    padding:10px;
    background-color:white ;
    color:#000;
    transition: 1s;
    border: 1px solid #00a4e5;
}
.loginwithgoogle:hover{
    background-color:#00a4e5 ;
    color:#fff;
    border: 1px solid #fff;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none!important;

}

.fogetpass{
    color: #000;
    text-decoration: none!important;
    transition: .5s all;
}
.fogetpass:hover{
    color:#00a4e5;
}
.regisration{
    margin-top: 10px;
    
}
.regisration a{
    text-decoration: none;
    color:#00a4e5;
}



@media only screen and (min-device-width : 280px) and (max-device-width :575px){
    .form {
        width: 90%;
        margin-top: 20px;
    }	
}

@media only screen and (min-device-width : 576px) and (max-device-width :768px) {
	.form {
        width: 90%;
        margin-top: 20px;
    }
    .myform {
        display: contents;
        align-content: center;
    }
    .formimage{
        display: contents;
    }
    .submit {
        margin-top:10px;
    }
    .loginwithgoogle{
        width:100%;
        padding:5px;
        background-color:white ;
        color:#000;
        transition: 1s;
        border: 1px solid #00a4e5;
    }
    .orsection{
        text-align: center;
        margin-top: 10px;
        color:grey;
    }
}


@media only screen and (min-device-width :769px) and (max-device-width :991px){
    .form {
        width: 90%;
        margin-top: 20px;
    }
    .myform {
        display: contents;
        align-content: center;
    }
    .formimage{
        display: contents;
    }
    .submit {
        margin-top:10px;
    }
    .loginwithgoogle{
        width:100%;
        padding:5px;
        background-color:white ;
        color:#000;
        transition: 1s;
        border: 1px solid #00a4e5;
    }
    .orsection{
        text-align: center;
        margin-top: 10px;
        color:grey;
    }
}

@media only screen and (min-device-width :992px) and (max-device-width :1300px){
	
}